<a href="/shop/{{id}}" class="card">
    <img src={{image_path}} alt="">
    <div class="card-details">
        <div class="instrument-name">{{name}}</div>
        <div class="instrument-description">{{manufacturer}}</div>
        <div class="instrument-price"><i class="fas fa-ellipsis-h"></i> ${{price}}</div>
    </div>
</a>