<section>
    <div class="container">
        <!-- specific instruments img, name, etc. -->
        <div class="single-instrument">
            <div class="image-wrapper">
                <img src={{instrument.image_path}} alt="">
            </div>
            <div class="content-wrapper">
                <div class="single-description">
                    <div class="single-name">{{instrument.name}}</div>
                        <div>
                            <span class="single-text">$</span>
                            <span class="single-price">{{instrument.price}}</span>
                        </div>
                </div>
                <div class="single-text">
                    <p>Category: <span class="category">{{instrument.classification.name}}</span></p>
                    <p>Manufacturer: <span class="manufacturer">{{instrument.manufacturer}}</span></p>
                    <p>Origin: <span class="origin">{{instrument.origin}}</span></p>
                </div>
                <button  href="/shopping-cart"class="btn add-to-cart-btn">
                    <i class="fas fa-shopping-cart"></i>
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</section>
<script src="/javascript/add-instrument.js"></script>